@using BookStore.DAL.Models
@model Book
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.Path" alt="@Model.PublicID" /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">@Model.Title</h1>
                <div class="fs-3 mb-5">
                    <span>de la @Model.Price lei</span>
                </div>
                <p class="lead fs-5">@Model.Description</p>
                <div class="d-flex">
                    <button class="btn btn-primary flex-shrink-0" onclick="addToCart('@Model.PublicID',1)">
                        <i class="icon-cart me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section> 