@model BookListViewModel
<section id="popular-books" class="bookshelf py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <h2 class="section-title">Our Books</h2>
                </div>

                <ul class="tabs">
                    <li class="tab"><a href="@Url.Action("BookListing", "home")">All Genre</a></li>
                    @foreach (var item in Model.BookTypes)
                    {
                        <li class="tab"><a href="@Url.Action("BookListing", "home", new {pubId = item.PublicId})">@item.TypeName</a></li>
                    }
                </ul>

                <div class="tab-content">
                    <div data-tab-content class="active">
                        <div class="row">
                            @foreach (var item in Model.Books)
                            {
                                <div class="col-md-4">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="@item.Path" alt="Books" class="product-item">
                                        </figure>
                                        <figcaption>
                                            <h3>@item.Title</h3>
                                            <span>@item.Author</span>
                                            <div class="item-price">@item.Price MDL</div>
                                            <button class="btn btn-secondary" onclick="addToCart('@item.PublicID',1)">
                                                <i class="icon-cart me-1"></i>
                                                Add to cart
                                            </button>
                                        </figcaption>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>