@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light mt-3">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="d-flex align-items-center ms-4 mb-4 mt-5">
                <div class="position-relative">
                    <img class="rounded-circle" src="~/images/anonim.png" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                    </div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0">@User.Identity?.Name</h6>
                </div>
            </div>
        }
        <div class="navbar-nav w-100">
            <a href="@Url.Action("index", "admin")" class="nav-item nav-link active">
                <i class="fa fa-tachometer-alt me-2"></i>Main
            </a>
            @if (User.IsInRole("Admin"))
            {
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Book management</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="@Url.Action("booklist", "admin")" class="dropdown-item">Vew Books</a>
                        <a href="@Url.Action("registerbooktype", "admin")" class="dropdown-item">Add new book type</a>
                        <a href="@Url.Action("booktypeslist", "admin")" class="dropdown-item">View books types</a>
                    </div>
                </div>
            }
            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {
                <a href="@Url.Action("Orders", "admin")" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Orders</a>
            }
            @if (User.IsInRole("Admin"))
            {
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa-solid fa-users"></i>Manage users</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="@Url.Action("AdminUserRoles", "admin")" class="dropdown-item">View users and roles</a>
                    </div>
                </div>
            }
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa-solid fa-house"></i></i>Home</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="@Url.Action("Index", "Home")" class="dropdown-item">Home</a>
                </div>
            </div>
        </div>
    </nav>
</div>